// overridding Discover/ArtworkLine.sass

.artwork-line--wrapper.popular
	@import "./ArtworkLineItem"
	margin-bottom: 3rem

	.button

	.artwork-playing--wrapper.hide-on-mobile

	.artwork-playing--wrapper.hide-content

	.artwork-playing--wrapper


		.next-song-button

		.pervious-song-button
			&.hidden

		.artwork-playing
			height: 38vh
			width: 38vh

			.player-button

				img

			.player-button.show-play-button


			.artwork
				height: 38vh
				width: 38vh



		.song-info--wrapper.popular
			display: flex

			.like-icon
				display: none

			.song-info
				width: 100%

	.left-side, .right-side

	.left-side

		.artwork-line

			$artworkWidth: 12rem
			.artwork-line2

			.empty-artwork




@media screen and (min-width: $desktop-min-width)
	.artwork-line--wrapper.popular
		$artworkWidth: 45vh
		$song-info-height: 3rem
		$font-size: 0.7rem
		$ratio: $artworkWidth / $song-info-height
		$font-ratio: $artworkWidth / $font-size
		$sidePadding: 1rem
		$like-icon-width: 1.5rem
		margin-bottom: 0.1rem

		.button
			padding-left: 2*$artworkWidth


			img
				margin-right: 5rem

			img.small



		.button.show

		.toggle-menu
			display: none

		.artwork-playing--wrapper.hide-on-mobile

		.artwork-playing--wrapper
			max-width: $artworkWidth
			height: calc(#{$artworkWidth} + #{$song-info-height})




			.pervious-song-button

			.artwork-playing
				width: $artworkWidth
				height: $artworkWidth

				.artwork
					width: $artworkWidth
					height: $artworkWidth

			.song-info--wrapper
				height: $song-info-height
				padding: 0 $sidePadding

				&.popular

					.like-icon
						width: $like-icon-width

						img
							width: $like-icon-width

				.like-icon

					img


				.song-info
					padding-left: $sidePadding
					padding-right: $sidePadding

					.title, .artist
						height: $font-size
						width: calc(#{$artworkWidth} - 3 * (#{$sidePadding} + #{$like-icon-width}))

		.left-side, .right-side


		$ratio: 0.7
		$artworkWidth: $artworkWidth * $ratio
		$song-info-height: $song-info-height * $ratio
		$font-size: $font-size * $ratio
		$sidePadding: $sidePadding * 1
		height: calc(#{$artworkWidth} + #{$song-info-height})
		.left-side
			width: calc(50% - #{$artworkWidth} / 2.2)

			.artwork-line

				.artwork-line2


				.empty-artwork
					// height: $artworkWidth
					// width: $artworkWidth / 2


