.popular--wrapper
	display: flex
	flex-direction: column
	flex: 1
	align-items: center
	position: relative


	h1
		font-size: 1.5rem
		letter-spacing: 0.35rem
		width: min-content
		font-family: Lato-Light, sans-serif
		margin-bottom: 1rem
		padding: 0
		border: none
		z-index: 1
		display: flex
		flex: 0.2
		align-items: center

	.popular-content--wrapper
		transition: opacity 0.3s ease-in
		display: flex
		flex: 0.6
		flex-direction: column
		align-items: center
		justify-content: space-around

	.empty-div
		flex: 0.2


@media screen and (min-width: $desktop-min-width)
	.popular--wrapper
		h1


