.popular--wrapper
	display: flex
	flex-direction: column
	flex: 1
	align-items: center
	position: relative


	@import "./PopularTimer"

	.coming-soon
		flex: 0.6
		display: flex
		align-items: center

	.title-top, .title-bottom
		font-size: 1.5rem
		letter-spacing: 0.35rem
		width: min-content
		font-family: Lato-Light, sans-serif
		margin-bottom: 1rem
		padding: 0
		border: none
		z-index: 1
		display: flex
		flex: 0.2
		align-items: flex-end


	.popular-content--wrapper
		transition: opacity 0.3s ease-in
		display: flex
		flex: 0.6
		flex-direction: column
		align-items: center
		justify-content: space-around

	.hide-mobile
		display: none

	.hide-desktop
		display: flex



@media screen and (min-width: $desktop-min-width)
	.popular--wrapper
		// ArtworkLine.sass override. need it for some reason. Ill find out later
		.artwork-line
			min-width: 50vw
			transform: translateX(-50%)

		.title-top, .title-bottom
			h1
				display: block

		.title-top
			flex: 0.15

		.hide-mobile
			display: flex

		.hide-desktop
			display: none


