{
  "presets": ["es2015", "stage-2", "stage-3", "stage-0", "react"],
  "plugins": ["transform-async-to-generator"],
  "env": {
    "development": {
      "plugins": [
        ["react-transform", {
          "transforms": [{
            "transform": "livereactload/babel-transform",
            "imports": ["react"]
          }]
        }, "transform-async-to-generator"]
      ]
    }
  }
}
