.description
	display: flex
	flex-direction: column
	justify-content: center

	ol
		list-style-type: decimal
		font-family: Lato-Light
		margin-left: 1rem

		li
			margin-bottom: 0.5rem

	.img-container
		margin: 1rem 0
		display: flex
		flex: 1
		background-image: url(/static/img/upload/upload-loop.png)
		background-size: contain
		background-repeat: no-repeat
		background-position: center
		max-width: 70vw
		align-self: center
		width: 100%
		max-height: 60vw

	.connect-button
		margin-bottom: 0.5rem

		.MASAS-button
			width: auto

		.button-subtitle
			display: flex
			justify-content: center
			margin-top: 0.5rem
			opacity: 0.8
			letter-spacing: 0.04rem
			font-family: Lato-Light

@media screen and (min-width: $desktop-min-width)
	.description
		ol
			li

		.img-container

	.connect-button
		width: 20rem
		align-self: center

		.MASAS-button

		.button-subtitle
