.create-profile--wrapper
	.profile-edit--wrapper
		.links-info
			display: flex

			.links-edit--wrapper
				.link-edit
					flex-direction: row
					display: flex
					justify-content: center
					align-items: center

					img
						width: 1.5rem
						height: 1.5rem
