
.artwork--wrapper
	position: relative
	cursor: pointer
	display: flex

	&.popular
		cursor: default

	&:hover
		.player-button
			display: flex


	.artwork
		height: 35vh
		width: 35vh
		background-color: black

	.player-button
		position: absolute
		display: none
		justify-content: center
		align-items: center
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-color: rgba(0,0,0,0.5)


		img
			width: 4rem
			height: 4rem

@media screen and (min-width: $desktop-min-width)
	$ratio: 0.7
	$artworkWidth: $artworkWidthDesktop * $ratio

	.artwork--wrapper
		height: $artworkWidth
		width: $artworkWidth

		.artwork
			height: $artworkWidth
			width: $artworkWidth