.player-mobile--top-wrapper
	position: absolute
	background-color: #000
	bottom: 0
	top: 0
	let: 0
	right: 0
	transform: translateY(100%)
	z-index: 4
	width: 100%
	transition: transform 0.2s linear
	flex-direction: column

	&.show
		display: flex
		transform: translateY(0px)

		.player-mobile-player--wrapper
			.player-progress-bar--wrapper
				display: block

				$height: 1rem
				$width: 1rem
				$border-radius: 0.5rem
				$margin-top: -$height / 3
				input[type=range]::-webkit-slider-thumb
					box-shadow: 1px 1px 1px #000000
					border: 1px solid #000000
					height: $height
					width: $width
					border-radius: $border-radius
					background: #FFFFFF
					cursor: pointer
					-webkit-appearance: none
					margin-top: $margin-top

				input[type=range]::-moz-slider-thumb
					box-shadow: 1px 1px 1px #000000
					border: 1px solid #000000
					height: $height
					width: $width
					border-radius: $border-radius
					background: #FFFFFF
					cursor: pointer
					-webkit-appearance: none
					margin-top: $margin-top

				.playerProgressBar--wrapper
					background-color: rgba(216, 216, 216, 0.4)
					.playerProgressBar
						background-color: white

	.close-button--wrapper
		height: 3rem
		width: 3rem
		display: flex
		justify-content: center
		align-items: center
		position: absolute
		right: 0
		top: 0
		height: 4rem
		align-items: flex-end
		z-index: 2
		margin-right: 1.5rem

	.header
		display: flex
		justify-content: center
		height: 4rem
		align-items: flex-end
		font-size: 1.3rem
		font-family: Lato-Semibold
		letter-spacing: 0.18rem

	.player-mobile-discover--wrapper
		display: flex
		flex: 0.7

		.player-mobile-artwork-playing--wrapper
			display: flex
			flex: 1
			justify-content: center
			align-items: center
			flex-direction: column

		$height: 36vh
		.artwork--wrapper
			width: 100%
			position: relative
			height: $height
			width: $height

			.artwork
				position: absolute
				width: 100%

			.player-button
				opacity: 0
				position: absolute
				width: 100%
				transition: opacity 0.1s linear

				&:hover
					opacity: 1

		.song-info--wrapper
			width: $height
			height: 4rem
			display: flex
			flex-direction: column
			justify-content: flex-end

			.song-name, .artist-name
				text-overflow: ellipsis
				white-space: nowrap
				overflow: hidden
				font-family: Lato-Light
				font-size: 1.25rem

			.song-name
				margin-bottom: 0.3rem
				letter-spacing: 0.05rem

			.artist-name
				opacity: 0.7
				letter-spacing: 0.1rem

	.player-mobile-player--wrapper
		display: flex
		flex: 0.3
		position: relative

		.player-progress-bar--wrapper
			display: none

		.navbar-player--wrapper
			flex-direction: column-reverse

			.like-icon
				display: none

			.song-info--wrapper1
				flex: 0.2
				width: 100%

				.text-info
					display: none

				.sc-icon
					justify-content: flex-end

					a
						img
							height: 2rem

			.player-controls--wrapper
				position: relative
				flex: 0.8
				justify-content: center
				width: 100%

				.previous-song-icon
					opacity: 1
					pointer-events: inherit

				.play-button

				.next-song-icon
					opacity: 1
					pointer-events: inherit

@media screen and (min-width: $desktop-min-width)
	.player-mobile--top-wrapper
		display: none

		&.show
			display: none